<div class='mdl-grid'>
  {{select-mdl content=asset optionValuePath="value" optionLabelPath="label" value=currentAsset onSelect=onSelect}}
  <span class='small-padding'>{{currentLabel}}</span>
</div>
{{#if stillWaiting}}
  {{numeric-form inputs=selectedParameters notReady='Waiting for market data' onSubmit=onSubmit}}
{{else}}
  {{numeric-form inputs=selectedParameters onSubmit=onSubmit}}
{{/if}}
