<span class="stockSymbol">{{symbol}}</span>
<span class='stockPrice'>{{price}}</span>
{{#if up}}
  <span style='color:green;'> {{change}}</span>
{{else}}
  <span style='color:red;'> {{change}}</span>
{{/if}}